OPENROUTER_API_KEY=""
LLAMA_API_KEY=""

# This file contains secrets for local development.
# Copy this file to .dev.vars and fill in your API keys.
# `wrangler` will automatically load this file for `yarn preview`.
