---
import AdminAuthLayout from "../../../layouts/AdminAuthLayout.astro";
---

<AdminAuthLayout title="Admin Setup">
  <h1>Create Admin Password</h1>
  <form action="/api/admin/setup" method="post">
    <label for="password">New Password</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      minlength="8"
    />
    <button type="submit">Set Password</button>
  </form>
  <p class="info">
    This password will be used to access the admin panel. If you forget it, you
    will need to manually delete the password entry in the KV store to reset it.
  </p>
</AdminAuthLayout>
