---
// src/components/AdminHeader.astro
---

<div class="admin-header">
  <span class="header-blogcierge text-nowrap">
    <a href="/blog/admin" class="home-link-style">BlogCierge Admin</a>
  </span>
  <div class="header-content">
    <span class="header-links">
      <a href="/blog/admin/analytics" class="header-link">Analytics</a>
      <a href="/blog/admin/list" class="header-link">Posts</a>
      <a href="/api/admin/logout" class="header-link">Logout</a>
      <a href="/api/admin/logout?redirect=/" class="header-link" title="Logout and return to main site">Exit Admin</a>
    </span>
  </div>
</div>

<style>
  .admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    padding-top: 0.5rem;
    height: 2rem;
    background-color: var(--hero-gradient-start);
    border-bottom: 2px solid var(--cstm-text-secondary);
  }

  .header-blogcierge {
    font-family: var(--font-heading);
    font-size: 1.5em;
    font-weight: 500;
    margin-top: -1em;
    margin-bottom: -0.7em;
    color: var(--hf-color);
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .header-links {
    text-align: right;
  }

  .home-link-style {
    text-decoration: none;
    color: inherit;
  }

  .home-link-style:hover {
    text-decoration: underline;
  }
  .header-link {
    margin-left: 1rem;
    text-decoration: none;
    color: inherit;
  }
  .header-link:hover {
    text-decoration: underline;
  }
</style>
